
@model Paginador<VehiculoServicio>

@{
    ViewData["Title"] = "View";
}

<div class="text-center">
    <h2 class=" mb-4 mt-3">Vehiculos que usan el servicio @ViewData["service"]</h2>
</div>
@if (TempData["msj"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["msj"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>}
@if (TempData["error"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["error"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>}

@if (TempData["warning"] != null)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        @TempData["warning"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>}
<div class="row justify-content-center">
    <form method="get" action=@Url.Action("Index", "Lista" )>
        <div class="form-group d-flex">
            @Html.TextBox("buscar", null, new { placeholder = "texto de búsqueda", @class = "form-control" })
            <button class="btn btn-info ml-4" type="submit">Buscar</button>
            <a asp-action="Index" id="bg-purple" class="btn btn-info ml-4">Refrescar</a>
        </div>
       
    </form>
</div>
<div class="text-left sticky-top" style="top: 10px">

    <a id="bg-purple" href="/Vehiculo/Index" class="btn btn-dark mb-5">Ir al registro</a>
</div>
<div class="container">
    <div class="row d-flex justify-content-center" style="gap:40px 20px">
        @foreach (var item in Model.Resultado)
        {
            <div class="card shadow ">
                <div class="card-body" style="width:300px">
                    <div>
                        <input type="hidden" asp-for="@item.IdVehiculoServicio" />
                        <h5 class="card-title text-center">@item.IdVehiculoNavigation.Dueno</h5>
                        <p><strong>Marca: </strong> @item.IdVehiculoNavigation.Marca</p>
                        <p><strong>Placa: </strong> @item.IdVehiculoNavigation.Placa</p>
                        <p><strong>Servicio: </strong> @item.IdServicioNavigation.Descripcion</p>
                        <a asp-controller="Lista" asp-action="Delete" asp-route-id="@item.IdVehiculoServicio" class="btn btn-success">Finalizar Servicio <i class="fas fa-check-double"></i></a>
                    </div>
                </div>
            </div>
        }
    </div>
    <br />
    <br />
    @if (Model.Resultado.Count() > 0)
    {
        <span>
            <strong>@Model.TotalRegistros</strong> registros encontrados
        </span>
        <span>&nbsp;|&nbsp;</span>
        <span>
            Página <strong>@(Model.PaginaActual)</strong> de
            <strong>@Model.TotalPaginas</strong>
        </span>
        <span>&nbsp;|&nbsp;</span>
    }
    else
    {
        <span>No hay resultados para esta búsqueda</span>
        <span>&nbsp;|&nbsp;</span>
    }

    @if (Model.PaginaActual > 1)
    {
        @*@Html.ActionLink("<<", "/Vehiculo/ListarVehiculos", new { pagina = 1 },
            new { @class = "btn btn-sm btn-default" })*@
        <a asp-action="Index" asp-route-pagina="1">
            <i class="fas fa-backward"></i>
        </a>
        <span></span>
        @Html.ActionLink("Anterior", "Index", new { pagina = Model.PaginaActual - 1 },
                        new { @class = "btn btn-sm btn-default" })
    }
    else
    {
        @*@Html.ActionLink("<<", "ListarVehiculos", new { pagina = 1 },
            new { @class = "btn btn-sm btn-default disabled" })*@
        <a asp-action="Index" asp-route-pagina="1">
            <i class="fas fa-backward"></i>
        </a>
        <span></span>
        @Html.ActionLink("Anterior", "Index", new { pagina = 1 },
                        new { @class = "btn btn-sm btn-default disabled" })
    }
    <span></span>
    @if (Model.PaginaActual < Model.TotalPaginas)
    {
        @Html.ActionLink("Siguiente", "Index", new { pagina = Model.PaginaActual + 1 },
                        new { @class = "btn btn-sm btn-default" })
        <span></span>
        <a asp-action="Index" asp-route-pagina="@Model.TotalPaginas">
            <i class="fas fa-forward"></i>
        </a>

    }
    else
    {
        @Html.ActionLink("Siguiente", "Index", new { pagina = Model.TotalPaginas - 1 },
                        new { @class = "btn btn-sm btn-default disabled" })
        <span></span>
        @*@Html.ActionLink(">>", "ListarVehiculos", new { pagina = Model.TotalPaginas },
            new { @class = "btn btn-sm btn-default disabled" })*@

        <a asp-action="Index" asp-route-pagina="@Model.TotalPaginas" class="btn btn-sm btn-default disabled">
            <i class="fas fa-forward"></i>
        </a>
    }
</div>

