@model Paginador<Vehiculo>
<div class="mb-4">
    <h1 class="text-center">Lista de vehiculos registrados</h1>
</div>
@if (TempData["msj"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["msj"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>}
@if (TempData["error"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["error"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>}

@if (TempData["warning"] != null)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        @TempData["warning"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>}
<div class="row justify-content-center">
    <form method="get" action=@Url.Action("ListarVehiculos", "Vehiculo" )>
        <div class="form-group d-flex">
            @Html.TextBox("buscar", null, new { placeholder = "texto de búsqueda", @class = "form-control" })
            <button class="btn btn-info ml-4" type="submit">Buscar</button>
            <a asp-action="ListarVehiculos" id="bg-purple" class="btn btn-info ml-4">Refrescar</a>
        </div>

    </form>
</div>
<div class="text-left sticky-top" style="top: 10px">

    <a id="bg-purple" href="/Vehiculo/Index" class="btn btn-dark mb-5">Ir al registro</a>
</div>
<div class="table-responsive">
    <table class="table table-sm table-hover table-striped">
        <thead>
            <tr>
                <th class="text-center">Id</th>
                <th class="text-center">Placa</th>
                <th class="text-center">Dueño</th>
                <th class="text-center">Marca</th>
                <th class="text-center">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Resultado)
            {
                <tr>
                    <td class="text-center">@item.IdVehiculo</td>
                    <td class="text-center">@item.Placa</td>
                    <td class="text-center">@item.Dueno</td>
                    <td class="text-center">@item.Marca</td>
                    <td class="text-center text-white">
                        <a asp-action="Edit" asp-route-id="@item.IdVehiculo" class="btn btn-info"><i class="fas fa-edit"></i></a>
                        <a asp-action="Delete" asp-route-id="@item.IdVehiculo" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @if (Model.Resultado.Count() > 0)
    {
        <span>
            <strong>@Model.TotalRegistros</strong> registros encontrados
        </span>
        <span>&nbsp;|&nbsp;</span>
        <span>
            Página <strong>@(Model.PaginaActual)</strong> de
            <strong>@Model.TotalPaginas</strong>
        </span>
        <span>&nbsp;|&nbsp;</span>
    }
    else
    {
        <span>No hay resultados para esta búsqueda</span>
        <span>&nbsp;|&nbsp;</span>
    }

    @if (Model.PaginaActual > 1)
    {
        <a asp-action="ListarVehiculos" asp-route-pagina="1" class="btn btn-sm btn-default">
            <i class="fas fa-backward"></i>
        </a>
        <span></span>
        @Html.ActionLink("Anterior", "ListarVehiculos", new { pagina = Model.PaginaActual - 1 },
                        new { @class = "btn btn-sm btn-default" })
    }
    else
    {
        <a asp-action="ListarVehiculos" asp-route-pagina="1" class="btn btn-sm btn-default disabled">
            <i class="fas fa-backward"></i>
        </a>
        <span></span>
        @Html.ActionLink("Anterior", "ListarVehiculos", new { pagina = 1 },
                        new { @class = "btn btn-sm btn-default disabled" })
    }
    <span></span>
    @if (Model.PaginaActual < Model.TotalPaginas)
    {
        @Html.ActionLink("Siguiente", "ListarVehiculos", new { pagina = Model.PaginaActual + 1 },
                        new { @class = "btn btn-sm btn-default" })
        <span></span>
        <a asp-action="ListarVehiculos" asp-route-pagina="@Model.TotalPaginas">
            <i class="fas fa-forward"></i>
        </a>
    }
    else
    {
        @Html.ActionLink("Siguiente", "ListarVehiculos", new { pagina = Model.TotalPaginas - 1 },
                        new { @class = "btn btn-sm btn-default disabled" })
        <span></span>
        <a asp-action="ListarVehiculos" asp-route-pagina="@Model.TotalPaginas" class="btn btn-sm btn-default disabled">
            <i class="fas fa-forward"></i>
        </a>
    }
</div>